# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
ENV/
env/
.venv/

# Environment Variables
.env
.flaskenv

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
